* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-weight: 400;
  font-size: 14px;
  overflow-x: hidden;
  line-height: unset;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer {
  padding: 70px 0 40px 0;
  background-color: #f1f0ee;
  margin-top: auto;
  font-family: Comfortaa,cursive;
}
.footer a {
  text-decoration: none;
  color: #6f6f6f;
}
.footer li {
  list-style: none;
}
.footer__text--p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-family: Comfortaa,cursive ;
  color: #454545;
}
.footer__text--park {
  font-size: 70px;
  font-weight: 700;
  color: #454545;
  letter-spacing: -4px;
  padding-bottom: 20px;
}
.footer__text--list li {
  font-size: 16px;
  padding: 20px 0;
}
.footer__text--list li i {
  color: #6f6f6f;
}
.footer__text h5 {
  font-size: 32px;
  line-height: 40px;
  color: #6f6f6f;
  padding-bottom: 25px;
}
.footer__right {
  padding: 0 0 0 100px;
  font-size: 14px;
}
.footer__right h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 16px 0;
  color: #454545;
}
.footer__right li {
  padding: 15px 0;
}
.footer__foot {
  margin: 20px 0 15px 0;
  border-top: 1px solid #6f6f6f;
  padding-top: 20px ;
  font-size: 17px;
  display: flex;
  justify-content: center;
}
.footer__foot a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  transition: 1s;
  margin-left: 15px;
}
.footer__foot a i:hover {
  background-color: #7750be;
  color: white;
}
.footer__foot .fa-telegram-plane:hover {
  background-color: #58faa9;
}
.footer__foot .fa-twitter:hover {
  background-color: #ddb8ff;
}
.footer__foot .fa-instagram:hover {
  background-color: #e0717c;
}
.footer__foot .fa-youtube:hover {
  background-color: #a81120;
}
.loader {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 9999;
  transition: all 1s linear;
  box-sizing: 1px 1px solid;
}
@keyframes ldio-veq32pfjv8c-1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes ldio-veq32pfjv8c-2 {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.ldio-veq32pfjv8c > div:nth-child(2) {
  transform: translate(-15px, 0);
}
.ldio-veq32pfjv8c > div:nth-child(2) div {
  position: absolute;
  top: 39.4px;
  left: 39.4px;
  width: 118.2px;
  height: 59.1px;
  border-radius: 118.2px 118.2px 0 0;
  background: #e19648;
  animation: ldio-veq32pfjv8c-1 0.96153846s linear infinite;
  transform-origin: 59.1px 59.1px;
}
.ldio-veq32pfjv8c > div:nth-child(2) div:nth-child(2) {
  animation: ldio-veq32pfjv8c-2 0.96153846s linear infinite;
}
.ldio-veq32pfjv8c > div:nth-child(2) div:nth-child(3) {
  transform: rotate(-90deg);
  animation: none;
}
@keyframes ldio-veq32pfjv8c-3 {
  0% {
    transform: translate(187.15px, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translate(68.95px, 0);
    opacity: 1;
  }
}
.ldio-veq32pfjv8c > div:nth-child(1) {
  display: block;
}
.ldio-veq32pfjv8c > div:nth-child(1) div {
  position: absolute;
  top: 90.62px;
  left: -7.88px;
  width: 15.76px;
  height: 15.76px;
  border-radius: 50%;
  background: #e15b64;
  animation: ldio-veq32pfjv8c-3 0.96153846s linear infinite;
}
.ldio-veq32pfjv8c > div:nth-child(1) div:nth-child(1) {
  animation-delay: -0.6968s;
}
.ldio-veq32pfjv8c > div:nth-child(1) div:nth-child(2) {
  animation-delay: -0.3432s;
}
.ldio-veq32pfjv8c > div:nth-child(1) div:nth-child(3) {
  animation-delay: 0s;
}
.loadingio-spinner-bean-eater-0k7h31h92lu {
  width: 197px;
  height: 197px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-veq32pfjv8c {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}
.ldio-veq32pfjv8c div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-9 {
  flex-basis: 75%;
  max-width: 75%;
  width: 75%;
}
.col-8 {
  flex-basis: 66.66%;
  max-width: 66.66%;
  width: 66.66%;
}
.col-4 {
  flex-basis: 33.33%;
  max-width: 33.33%;
  width: 33.33%;
}
.col-6 {
  flex-basis: 50%;
  max-width: 50%;
  width: 50%;
}
.col-12 {
  flex-basis: 100%;
  max-width: 100%;
  width: 100%;
}
.col-3 {
  flex-basis: 25%;
  max-width: 25%;
  width: 25%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  width: 100%;
  background-color: #f1f0ee;
  padding: 32px 0;
  margin: 0 auto;
  font-family: Comfortaa,cursive;
  position: sticky;
  top: 0;
  z-index: 22;
}
.header__minu {
  display: flex;
  align-items: center;
  justify-content: space;
}
.header__minu--logo {
  font-size: 26px;
  font-weight: 600;
  color: #81755c;
  font-family: Comfortaa,cursive;
}
.header__minu--test {
  padding: 9px 16px;
  margin: 0 0 0 43px;
  background-color: #e5e0da;
  color: #81755c;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 550;
  border-radius: 8px;
  position: relative;
}
.header__minu--test::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e5e0da;
  position: absolute;
  left: -6px;
}
.header__minu--list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__minu--list a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}
.header__minu--right {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}
.header__minu--button {
  padding: 10px 24px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  background-color: #e6e0d4;
  border: none;
  border-radius: 100px;
  margin-left: 100px;
  font-family: 'Lato';
  letter-spacing: -0.03em;
}
.hero {
  padding-bottom: 92px ;
  background-image: url(../img/hero-bg@2x.ea45b3de.png);
  background-position: calc(50% + 110px) calc(50% + 1px);
  background-size: contain;
  padding-bottom: 92px;
  background-color: #f1f0ee;
  margin-bottom: 40px;
  background-repeat: no-repeat;
}
.hero__title {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700;
  font-family: Lato;
  letter-spacing: -1px;
  transition: 0.05;
}
.hero__title--work {
  height: 60px;
  overflow-y: hidden;
  position: relative;
}
.hero__title span {
  color: #ba8d5b;
  animation: animation 6s infinite ;
  animation-delay: calc(3s * var(--i));
  display: block;
  position: absolute;
  top: -60px;
}
.hero__button {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 22px 45px;
  font-weight: 700;
  color: white;
  background-color: #0eb182;
  border: none;
  border-radius: 100px;
}
.hero__button--text {
  margin-right: 15px;
}
@keyframes animation {
  0% {
    top: -100px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 100px;
  }
}
.main__box {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
  padding-left: 10px;
}
.main__box--item {
  margin-right: 20px;
  animation: anime 3s;
  transition: 1s;
  padding: 25px 30px 45px;
  background-color: #f9f8f7;
  flex-direction: column;
  margin-bottom: 24px;
  border-radius: 25px;
  font-family: Lato, sans-serif;
  display: flex;
}
.main__box--item:hover i {
  display: inline-block;
}
.main__box--item-icon {
  margin-bottom: 1.5rem;
}
.main__box--item-icon img {
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.main__box--item-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.main__box--item-description {
  font-size: 17px;
  margin-bottom: 1.5rem;
  color: #607987;
  letter-spacing: 1.3px;
  line-height: 1.5em;
}
.main__box--item-link {
  margin-top: auto;
}
.main__box--item-link a {
  font-size: 17px;
  color: #0eb182;
  display: flex;
  align-items: center;
  grid-gap: 15px;
  gap: 15px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  height: 20px;
}
.main__box--item-link a:hover {
  text-decoration: underline;
}
.main__box--item-link a:hover i {
  margin-left: 15px;
  transition: 1s;
}
.main__box--item-link a i {
  display: none;
  font-size: 19px;
  font-weight: 600;
}
.main__tent {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: Comfortaa,cursive;
}
.main__tent--info {
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.main__tent--info img {
  height: 500px;
  display: flex;
  margin: auto;
}
.main__tent--info img:hover {
  transform: perspective(440px) rotateX(20deg) rotateY(10deg);
}
.main__tent--info-text h2 {
  font-weight: 700;
  color: #7dba29;
  font-size: 46px;
  margin: 0 0 25px;
}
.main__tent--info-text p {
  font-size: 18px;
  color: #7c7f8e;
  line-height: 1.8;
  margin-bottom: 25px;
  text-align: left;
}
.main__tent--info-button {
  background: #fff;
  padding: 10px 50px;
  border-radius: 6px;
  color: #7dba29;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  border: 2px solid transparent;
  letter-spacing: 0.5px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  white-space: nowrap;
  text-decoration: none;
}
.main__tent--reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s;
}
.main__tent--reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
.main__tent--reveal.active body {
  background-color: red;
}
.main__certificate {
  padding-top: 50px;
  margin: 0 0 100px 0;
}
.main__certificate--bg {
  background-color: #f9f8f7;
  padding: 60px 0;
  width: 100%;
  border-radius: 20px;
  animation: anime 3s;
  transition: 1s;
}
.main__certificate--right {
  align-items: center;
  padding: 130px 100px 70px 60px;
}
.main__certificate--logo img {
  width: 56px;
}
.main__certificate--text-top {
  font-size: 30px;
  line-height: 25px;
  padding-top: 30px;
  font-weight: 600;
  font-family: sans-serif;
}
.main__certificate--text-bottom {
  font-size: 20px;
  line-height: 30px;
  color: #898989;
  padding-top: 24px;
}
.main__black {
  margin-top: 51px;
  background-color: #f9f8f7;
  padding: 62px 64px;
  border-radius: 20px;
}
.main__black h1 {
  font-size: 50px;
  margin-bottom: 23px;
  font-family: sans-serif;
}
.main__black--box {
  margin-top: 35px;
  padding: 0 15px;
}
.main__black--card {
  background-color: #fff;
  height: 100%;
}
.main__black--card-header {
  padding: 38px 20px 0;
  text-align: center;
}
.main__black--card-header h3 {
  font-size: 25px;
  text-align: center;
  line-height: 35px;
  font-family: sfprodisplay-bold, sfprodisplay-regular, sans-serif;
}
.main__black--card-header p {
  margin: 15px 0 ;
  font-size: 16px;
  line-height: 26px;
  color: #898989;
}
.main__black--card-body {
  padding: 35px 25px;
  text-align: center;
}
.main__aducation--blok-box {
  background-color: #f9f8f7;
  margin-top: 40px;
  padding: 30px 30px 65px 64px;
  border-right: 2px solid #fff;
  overflow-y: hidden;
  position: relative;
}
.main__aducation--blok-box:hover {
  background-color: #00b533;
}
.main__aducation--blok-box:hover .box__site {
  bottom: 0;
}
.main__aducation--blok-box:hover .box__enformation {
  display: none;
}
.main__aducation--blok-box:hover .box__link--img i {
  color: #0cb63c;
}
.main__aducation--blok-box .box__link {
  display: flex;
  align-items: center;
  justify-content: end;
}
.main__aducation--blok-box .box__link--img {
  background-color: #ffffff;
  border: 9px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  transition: 0.5s;
  text-decoration: none ;
  font-size: 20px;
  color: rgba(47, 47, 47, 0.77);
}
.main__aducation--blok-box .box__link--img .fa-arrow-up-right {
  transition: 0.5s;
}
.main__aducation--blok-box .box__link--img:hover {
  border-color: #0cb63c;
  transform: rotate(320deg);
}
.main__aducation--blok-box .box__enformation {
  margin-top: 100px;
}
.main__aducation--blok-box .box__enformation--text {
  font-size: 30px;
  line-height: 25px;
  font-family: Lato;
  font-weight: 700;
  letter-spacing: -0.12px;
  color: #000;
  margin-top: 30px;
}
.main__aducation--blok-box .box__enformation--commet {
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  color: #898989;
  padding-right: 35px;
}
.main__aducation--blok-box .box__site {
  position: absolute;
  z-index: 2;
  bottom: -100%;
}
.main__aducation--blok-box .box__site--flex {
  display: flex;
}
.main__aducation--blok-box .box__site--flex .text {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  font-family: sans-serif;
}
.main__aducation--blok-box .box__site--flex .img-roc {
  margin-top: 110px;
}
.main__aducation--blok-box .box__site--flex .img-roc img {
  opacity: 1;
  transition: opacity 0.3s;
}
.main__aducation--blok-box .box__site .img-roc1 {
  margin-top: 70px;
}
.main__aducation--blok-box .box__site .img-roc1 img {
  width: 175px;
}
.main__courser {
  max-width: 100%;
  background-color: #f9f8f7;
  padding: 50px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.main__courser--link {
  color: #0eb182;
  margin-top: 16px;
  text-decoration: none;
}
.main__courser--link:hover span {
  margin-right: 20px;
}
.main__courser--link span {
  margin-right: 10px;
  transition: 0.5s;
}
.main__courser--tetle {
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  color: #0f1826;
  margin: 0 0 56px;
}
.main__courser--wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  margin: 0 -20px;
}
.main__courser--item {
  min-width: calc(300px - 20px);
  position: relative;
  border: 0.5px solid #607987;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 32px;
  transition: border 0.3s ease;
  margin-left: 20px;
}
.main__courser--item:hover {
  background-color: #fff;
  box-shadow: 0 2px 18px 3px rgba(0, 0, 0, 0.05);
  border: 0.5px solid transparent;
}
.main__courser--item .courser__item--link {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #0f1826;
  margin-bottom: 6px;
  text-decoration: none;
}
.main__courser--item .courser__item--text {
  color: #607987;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin: 0;
}
.main__courser--item .courser__item--link::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.main__teyp--ofline {
  margin-top: 50px;
  background-color: #f8f8f8;
}
.main__teyp--box {
  padding: 70px 100px 30px 64px;
  position: relative;
  overflow: hidden;
  border-right: 1px #fff solid;
  z-index: 2;
  display: flex;
}
.main__teyp--box:hover .main__teyp--two {
  display: block;
}
.main__teyp--box:hover .main__teyp--one {
  display: none;
}
.main__teyp--box:hover .main__type--box-img {
  display: none;
}
.main__teyp--box:hover .main__teyp--img-right {
  opacity: 1;
}
.main__teyp--box-info {
  transform: translateX(30px);
  position: relative;
  z-index: 2;
}
.main__teyp--box-info .h4 {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
}
.main__teyp--one {
  font-size: 20px;
  line-height: 30px;
  color: #898989;
  margin-top: 24px;
  margin-bottom: 0;
  font-family: sfprodisplay-light, sfprodisplay-regular, sans-serif;
}
.main__teyp--two {
  font-size: 20px;
  line-height: 30px;
  color: #898989;
  margin-top: 24px;
  margin-bottom: 0;
  font-family: sfprodisplay-light, sfprodisplay-regular, sans-serif;
  display: none;
}
.main__teyp--link {
  margin-top: 55px;
}
.main__teyp--link a {
  font-size: 18px;
  line-height: 18px;
  color: #898989;
  cursor: pointer;
  text-decoration: none;
  font-family: sans-serif;
  margin-right: 3px;
  transition: 0.5s;
}
.main__teyp--link a:hover {
  margin-right: 13px;
}
.main__teyp--link i {
  color: #898989;
}
.main__teyp--img-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.4s ease;
}
.main__our {
  padding: 80px 0;
  overflow: hidden;
  font-family: Comfortaa,cursive;
  color: #6f6f6f;
}
.main__our--info-text {
  font-size: 16px;
  font-weight: 500;
}
.main__our--info-p {
  font-size: 12px;
  text-align: center;
}
.main__our--title-text {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6f6f;
  position: relative;
  overflow: hidden;
}
.main__our--title-text::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 29%;
  display: block;
  border-bottom: 1px solid;
  right: 61%;
  margin-right: 25px;
  opacity: 0.15;
}
.main__our--title-text::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 29%;
  display: block;
  border-bottom: 1px solid;
  left: 61%;
  margin-left: 25px;
  opacity: 0.15;
}
.main__our--box {
  padding: 5px;
  max-height: 265px;
  min-height: 265px;
  display: flex;
  justify-content: center;
}
.main__our--box:hover .main__our--box-one {
  display: none;
}
.main__our--box:hover .main__our--box-thwoo {
  display: flex;
}
.main__our--box-one-img {
  height: 200px;
  width: 200px;
}
.main__our--box-one-img img {
  max-height: 100%;
  display: flex;
  justify-content: center ;
}
.main__our--box-one-text {
  text-align: center;
}
.main__our--box-one-text .name {
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
  font-weight: 700;
  font-family: sans-serif;
}
.main__our--box-thwoo {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  display: none;
}
.main__our--box-thwoo-info .text_name {
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
  font-weight: 700;
  font-family: sans-serif;
}
.main__our--box-thwoo-link {
  margin-top: auto;
}
.main__our--box-thwoo-link a {
  font-size: 14px;
  margin: 0 5px;
  color: #6f6f6f;
  text-decoration: none;
}
@keyframes anime {
  0% {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
